// this is how we override a bootstrap variable.
$grid-breakpoints: (
        xs: 0,
        sm: 544px,
        md: 768px,
        lg: 992px,
        //xl: 1200px
);

// Fonts.
@import "../bower_components/open-sans-fontface/open-sans.scss";
@import "../bower_components/montserrat-webfont/scss/montserrat-webfont";
@import "../bower_components/font-awesome/scss/font-awesome";
// Bootstrap grid.
@import "../bower_components/bootstrap/scss/normalize";
@import "../bower_components/bootstrap/scss/bootstrap-grid";

// My theme styles.
@import "html";

// Regions.
@import "components/regions/region--content";

// Nodes.
@import "components/node/node--article--teaser";

// Blocks.
@import "components/blocks/block--homepageblock";
@import "components/blocks/block--ablog-main-menu";
@import "components/blocks/block--socialiconsblock";

// Nodes.
@import "components/node/node--header--title";
@import "components/node/node--article--full";

// Views.
@import "components/views/views";

// Pager.
@import "components/pager/pager";

// getuikit.
@import "components/vendor/getuikit/offcanvas";








