.block_post {
  .container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    @include media-breakpoint-up(xs) {
      min-height: 500px;
    }
    @include media-breakpoint-down(xs) {
      min-height: 400px;
    }
  }
  .post-title {
    height: 80%;
    width: 100%;
    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: bold;
    line-height: 58px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 2px 4px #000000;
    padding: 0 0 43px 0;
  }
  .icons-container {
    margin: 20px auto;
    position: relative;
    @include media-breakpoint-up(lg) {
      min-width: 940px;
    }
    @include media-breakpoint-up(md) {
      max-width: 720px;
    }
    @include media-breakpoint-down(md) {
      width: 90%;
    }
    @include media-breakpoint-down(xs) {
      width: 90%;
    }
    i {
      color: #fff;
      text-shadow: 0px 2px 4px #000000;
      font-size: 28px;
      cursor: pointer;
    }
    .burger {
      position: absolute;
      right: 0px;
    }
  }
}