.node--type-article {
  &.node--view-mode-teaser {
    .node__submitted {
      font-size: 18px;
      font-family: 'Open Sans';
      font-weight: 300;
      color: #B6B6B6;
      margin-top: 5px;
      a {
        color: #B6B6B6;
      }
    }
    .row {
      @include media-breakpoint-up(md) {
        margin-bottom: 100px;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 70px;
        display: flex;
        flex-flow: column;
        >div {
          &:first-child {
            order: 2;
          }
          &:last-child {
            order: 1;
          }
        }
      }
    }
    h2 {
      margin: 0;
      a {
        font-family: 'Montserrat';
        font-size: 34px;
        color: #444;
      }
    }
    p {
      font-size: 18px;
      line-height: 30px;
      color: #333;
    }
  }
}