.node--type-article {
  &.node--view-mode-teaser {
    .row {
      @include media-breakpoint-up(md) {
        margin-bottom: 140px;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 70px;
      }
    }
    h2 {
      margin: 0;
      a {
        font-family: 'Montserrat';
        font-size: 48px;
        color: #000;
      }
    }
  }
}