{% if image_url %}
  <style>
    .block_homepage {
      background: url({{ image_url }});
      background-size: cover;
    }
  </style>
{% endif %}
<div class="block_homepage">
  {% block content %}
    <div class="block_homepage-container">
      {{ content.field_user_reference }}
    </div>
  {% endblock %}
</div>
