{% if image_url %}
  <style>
    .block_homepage {
      background: url({{ image_url }});
      background-size: cover;
    }
  </style>
{% endif %}
{% set special_class = 'block_homepage' %}
<div{{ attributes.addClass(special_class) }} data-uk-parallax="{bg: '-100'}">
  {# title_suffix this contains classes for the contextual links. #}
  {{ title_suffix }}
  {% block content %}
    <div class="container">
      <a class="burger"><i class="fa fa-bars"  data-uk-offcanvas="{target:'#my-id'}"></i></a>
      {{ content|without('field_hero_background_image') }}
    </div>
  {% endblock %}
</div>
