.block_homepage {
  @include media-breakpoint-up(lg) {
    padding-bottom: 100px;
  }
  @include media-breakpoint-down(lg) {
    padding-bottom: 40px;
  }
  // Fields.
  //////////
  .field--name-field-links {
    .field__item {
      text-align: right;
      a {
        color: #FFF;
      }
    }
  }
  .field--name-user-picture {
    padding-top: 43px;
    text-align: center;
    img {
      border: 4px solid #FFFFFF;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
  }
  .field--name-field-full-name {
    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: bold;
    line-height: 58px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 2px 4px #000000;
    padding-bottom: 43px;
  }
  .field--name-field-position {
    max-width: 300px;
    margin: 0 auto;
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0px 2px 4px #000000;
  }
}