.block_homepage {
  @include media-breakpoint-up(lg) {
    padding-bottom: 100px;
  }
  @include media-breakpoint-down(lg) {
    padding-bottom: 40px;
  }
  // Fields.
  //////////
  .field--name-field-links {
    .field__item {
      text-align: right;
      a {
        color: #FFF;
      }
    }
  }
  .field--name-user-picture {
    padding-top: 43px;
    text-align: center;
    img {
      border: 4px solid #FFFFFF;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
  }
  .field--name-field-full-name {
    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: bold;
    line-height: 58px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 2px 4px #000000;
    padding-bottom: 43px;
  }
  .field--name-field-position {
    max-width: 300px;
    margin: 0 auto;
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0px 2px 4px #000000;
  }
  // Burger.
  .burger {
    color: #ffffff;
    float: right;
    margin-top: 15px;
    margin-right: 15px;
    cursor: pointer;
    i {
      font-size: 28px;
      cursor: pointer;
      &:before {
        text-shadow: 0px 2px 4px #000000;
      }
    }
  }
}

.navigation {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
html {
  &.show {
    margin-top: 67px;
    -webkit-transition: margin 500ms;
    -moz-transition: margin 500ms;
    -ms-transition: margin 500ms;
    -o-transition: margin 500ms;
    transition: margin 500ms;
  }
  &.hide {
    margin-top: 0;
    -webkit-transition: margin 500ms;
    -moz-transition: margin 500ms;
    -ms-transition: margin 500ms;
    -o-transition: margin 500ms;
    transition: margin 500ms;
  }
}